@font-face {
	font-family: quicksand;
	src: url(Quicksand-Regular.otf);
}

html {
	background-color: #5C5C5C;
}

body {
	margin: 0px;
}

header {
	font-family: quicksand;
	color: white;
	text-align: center;
	background: linear-gradient(#333333, #5C5C5C);
	background: -webkit-linear-gradient(#333333, #5C5C5C);
	background: -moz-linear-gradient(#333333, #5C5C5C);
	background: -o-linear-gradient(#333333, #5C5C5C);
}

header h1 {
	font-size: 48pt;
	margin-top: 0px;
	padding-top: 32px;
	margin-bottom: 10px;
}

header h2 {
	font-size: 12pt;
}

nav {
	font-family: quicksand;
	font-size: 14pt;
	text-align: center;
	color: white
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover{
	color: gray;
}

section {
	font-family: quicksand;
	border-style: solid;
	border-radius: 15px;
	border-width: 4px;
	background-color: white;
	min-width: 800px;
	width: 50%;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
}

section h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

figure img {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

figure p {
	font-size: 10pt;
	text-align: center;
	margin: 5px;
}