body {
	font: Calibri;
	font-family: sans-serif;
}

.high {
	color: red;
}

.medium {
	color: orange;
}

.low {
	color: green;
}

.done {
	text-decoration: line-through;
	list-style-image: url('https://cdn1.iconfinder.com/data/icons/mimiGlyphs/16/check_mark.png');
}